<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPOS_Online.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPOS_Online.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PowerPOS_Online.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopId" serializeAs="String">
                <value />
            </setting>
        </PowerPOS_Online.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PowerPOS_Online.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://power-api-test.azurewebsites.net</value>
            </setting>
        </PowerPOS_Online.Properties.Settings>
    </applicationSettings>
</configuration>